header {
  .tablet-note-nav {
    display: flex;
    flex-direction: row;
    background-color: var(--Branco-Gelo);
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 4;
    top: 0;

    img {
      width: 20%;
      height: 10vh;
      cursor: pointer;
    }

    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 80vw;
      justify-content: space-around;

      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 50vw;
        justify-content: space-around;

        li {
          margin: 0 10px;
          font-weight: 500;
          color: var(--Preto);
          cursor: pointer;
          transition: color 0.3s ease, transform 0.3s ease;

          a {
            text-decoration: none;
            color: var(--Preto);
          }

          a:hover {
            color: var(--Laranja);
            transform: scale(1.1);
          }
        }
      }
    }

    .botao-doar {
      width: 10rem;
      height: 2.5rem;
      border-radius: 20px;
      background-color: var(--Laranja);
      color: var(--Branco-Gelo);
      font-weight: bold;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: var(--Laranja-escuro);
        color: var(--Branco-Gelo);
        border: none;
        transition-duration: var(--trasicao-botao);
      }
    }

    .botao-login {
      width: 10rem;
      height: 2.5rem;
      border-radius: 20px;
      background-color: var(--Branco-Gelo);
      color: var (--Preto);
      font-weight: bold;
      border: 1px solid var(--Preto);
      cursor: pointer;

      &:hover {
        background-color: #e5e9f1;
        color: var (--Branco-Gelo);
        transition-duration: var(--trasicao-botao);
      }
    }
  }

  .mobile-nav {
    display: none;
  }
}

header.scrolled {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.home {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: linear-gradient(rgba(198, 1, 188, 0.5), rgba(49, 32, 188, 0.7)),
    url("../assets/imgs/FotoFundoHome.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: start;
  justify-content: flex-start;
  padding-left: 7vw;
  padding-top: 10vh;

  .home-text {
    display: flex;
    flex-direction: column;
    height: 50vw;
    width: 25vw;
    justify-content: center;

    h1 {
      font-weight: bold;
      color: var(--Branco-Gelo);
      margin-bottom: 20px;
    }

    p {
      font-weight: 400;
      color: var(--Branco-Gelo);
      margin-bottom: 20px;
    }

    button {
      width: 10rem;
      height: 2.5rem;
      border-radius: 20px;
      background-color: var(--Laranja);
      color: var(--Branco-Gelo);
      font-weight: bold;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: var(--Laranja-escuro);
        color: var(--Branco-Gelo);
        border: none;
        transition-duration: var(--trasicao-botao);
      }
    }
  }
}

.quem-somos {
  display: flex;
  flex-direction: column;

  .quem-somos-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    padding: 10vh;

    h1 {
      font-weight: bold;
    }

    p {
      font-weight: 100;
      width: 40vw;
      text-align: center;
      padding: 3vh 3vh 6vh;
    }
  }
}

.quem-somos-container {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
}

.images-quem-somos {
  position: relative;
  width: 280px;
  height: 280px;
}

.images-quem-somos img {
  position: absolute;
  border-radius: 10px;
  object-fit: cover;
}

.enfermeira {
  width: 289px;
  height: 289px;
  top: -100px;
  left: -10px;
  z-index: 2;
}

.mulher-mascara {
  width: 212px;
  height: 212px;
  top: 100px;
  left: 140px;
  z-index: 3;
}

.menino-cabelo {
  width: 203px;
  height: 275px;
  top: -50px;
  left: 300px;
  z-index: 2;
}

.logo-quem-somos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.logo {
  width: 20vw;
}

.onda-top {
  position: absolute;
  border: none;
  width: 100%;
  height: 30vh;
  margin: -1px;
  z-index: 1;
  padding: 0;
  background: var(--Branco-Gelo);
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 76.43%,
    1.54% 75.3%,
    3.08% 74%,
    4.62% 72.58%,
    6.15% 71.06%,
    7.69% 69.47%,
    9.23% 67.84%,
    10.77% 66.22%,
    12.31% 64.62%,
    13.85% 63.1%,
    15.38% 61.67%,
    16.92% 60.38%,
    18.46% 59.23%,
    20% 58.27%,
    21.54% 57.51%,
    23.08% 56.97%,
    24.62% 56.65%,
    26.15% 56.57%,
    27.69% 56.72%,
    29.23% 57.1%,
    30.77% 57.71%,
    32.31% 58.54%,
    33.85% 59.55%,
    35.38% 60.74%,
    36.92% 62.08%,
    38.46% 63.54%,
    40% 65.09%,
    41.54% 66.7%,
    43.08% 68.33%,
    44.62% 69.94%,
    46.15% 71.52%,
    47.69% 73.01%,
    49.23% 74.4%,
    50.77% 75.65%,
    52.31% 76.73%,
    53.85% 77.63%,
    55.38% 78.32%,
    56.92% 78.79%,
    58.46% 79.03%,
    60% 79.04%,
    61.54% 78.8%,
    63.08% 78.34%,
    64.62% 77.66%,
    66.15% 76.77%,
    67.69% 75.69%,
    69.23% 74.45%,
    70.77% 73.07%,
    72.31% 71.57%,
    73.85% 70%,
    75.38% 68.39%,
    76.92% 66.76%,
    78.46% 65.15%,
    80% 63.6%,
    81.54% 62.14%,
    83.08% 60.79%,
    84.62% 59.6%,
    86.15% 58.57%,
    87.69% 57.74%,
    89.23% 57.12%,
    90.77% 56.73%,
    92.31% 56.57%,
    93.85% 56.64%,
    95.38% 56.95%,
    96.92% 57.49%,
    98.46% 58.24%,
    100% 59.19%
  );
}

.contribua {
  display: flex;
  height: 110.9vh;
  flex-direction: column;
  background: linear-gradient(rgba(102, 17, 101, 0.4), rgba(255, 0, 242, 0.4)),
    url("../assets/imgs/FundoQueroDoar.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: flex-start;
  padding: 7vw;
  overflow-x: hidden;

  .contribua-text {
    display: flex;
    flex-direction: column;
    height: 50vw;
    width: 25vw;
    justify-content: center;
    padding-top: 10vh;

    h1 {
      font-weight: bold;
      color: var(--Branco-Gelo);
      margin-bottom: 20px;
    }

    p {
      font-weight: 400;
      color: var(--Branco-Gelo);
      margin-bottom: 20px;
    }

    button {
      width: 13vw;
      height: 5vh;
      border-radius: 20px;
      background-color: var(--Laranja);
      color: var(--Branco-Gelo);
      font-weight: bold;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: var(--Laranja-escuro);
        color: var(--Branco-Gelo);
        border: none;
        transition-duration: var(--trasicao-botao);
      }
    }
  }
}

.onda-bottom {
  position: relative;
  width: 120%;
  height: 50vh;
  background: rgb(237, 71, 49, 0.65);
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 76.71%,
    1.67% 75.56%,
    3.33% 74.13%,
    5% 72.46%,
    6.67% 70.57%,
    8.33% 68.51%,
    10% 66.3%,
    11.67% 63.99%,
    13.33% 61.62%,
    15% 59.24%,
    16.67% 56.88%,
    18.33% 54.6%,
    20% 52.44%,
    21.67% 50.42%,
    23.33% 48.61%,
    25% 47.01%,
    26.67% 45.68%,
    28.33% 44.62%,
    30% 43.86%,
    31.67% 43.42%,
    33.33% 43.3%,
    35% 43.51%,
    36.67% 44.03%,
    38.33% 44.86%,
    40% 45.99%,
    41.67% 47.4%,
    43.33% 49.05%,
    45% 50.92%,
    46.67% 52.98%,
    48.33% 55.18%,
    50% 57.48%,
    51.67% 59.85%,
    53.33% 62.23%,
    55% 64.59%,
    56.67% 66.88%,
    58.33% 69.05%,
    60% 71.08%,
    61.67% 72.91%,
    63.33% 74.52%,
    65% 75.88%,
    66.67% 76.96%,
    68.33% 77.74%,
    70% 78.2%,
    71.67% 78.35%,
    73.33% 78.17%,
    75% 77.67%,
    76.67% 76.86%,
    78.33% 75.75%,
    80% 74.37%,
    81.67% 72.73%,
    83.33% 70.88%,
    85% 68.84%,
    86.67% 66.65%,
    88.33% 64.35%,
    90% 61.99%,
    91.67% 59.6%,
    93.33% 57.24%,
    95% 54.95%,
    96.67% 52.76%,
    98.33% 50.72%,
    100% 48.87%
  );
  transform: rotate(-3deg);
  top: -17vh;
  left: -15%;
  right: 0;
}

.servicos {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    width: 13vw;
    height: 5vh;
    border-radius: 20px;
    background-color: var(--Laranja);
    color: var(--Branco-Gelo);
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding-bottom: 5px;

    &:hover {
      background-color: var(--Laranja-escuro);
      color: var(--Branco-Gelo);
      border: none;
      transition-duration: var(--trasicao-botao);
    }
  }

  .servicos-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    padding: 10vh;
    margin-top: -35vh;
  }

  .servicos-text h1 {
    font-weight: bold;
  }

  .servicos-text p {
    font-weight: 100;
    width: 50vw;
    text-align: center;
    padding: 5vh;
    padding-bottom: 0px;
  }

  .icons {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0px 20px 60px;
    justify-items: center;
    align-items: start;
  }

  .icon-contabil,
  .icon-fisioterapia,
  .icon-juridica,
  .icon-psicologia,
  .icon-nutricao,
  .icon-quiropraxia,
  .icon-pediatria,
  .icon-financeiro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: var(--Branco-Gelo);
  }

  .icon-contabil img,
  .icon-fisioterapia img,
  .icon-juridica img,
  .icon-psicologia img,
  .icon-nutricao img,
  .icon-quiropraxia img,
  .icon-pediatria img,
  .icon-financeiro img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }

  .icon-contabil h1,
  .icon-fisioterapia h1,
  .icon-juridica h1,
  .icon-psicologia h1,
  .icon-nutricao h1,
  .icon-quiropraxia h1,
  .icon-pediatria h1,
  .icon-financeiro h1 {
    font-size: var(--tamanho-fonte);
    font-weight: bold;
    margin-bottom: 10px;
  }

  .icon-contabil p,
  .icon-fisioterapia p,
  .icon-juridica p,
  .icon-psicologia p,
  .icon-nutricao p,
  .icon-quiropraxia p,
  .icon-pediatria p,
  .icon-financeiro p {
    font-size: var(--tamanho-fonte-menor);
    color: var(--Preto);
  }
}

.parceiros {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--azulEscuro);
  padding: 40vh 0 20vh 0;

  .parceiros-text h1 {
    color: var(--Branco-Gelo);
    font-weight: bold;
    margin-bottom: 30px;
  }

  .image-parceiros {
    display: flex;
    justify-content: center;
    gap: 20vw;
  }

  .image-parceiros img {
    width: 350px;
    height: auto;
  }
}

.contato {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 174px 148px;
  background-color: var(--Branco-Gelo);

  .contato-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .contato-form {
    flex: 1;
    margin-right: 123px;
  }

  .contato-form h1 {
    font-weight: bold;
    color: var(--Preto);
  }

  .contato-form .highlight {
    color: var(--Laranja);
  }

  .contato-form p {
    color: var(--Preto);
    margin-bottom: 20px;
  }

  .contato-form form {
    display: flex;
    flex-direction: column;
  }

  .contato-form label {
    color: var(--Preto);
    margin-bottom: 5px;
  }

  .contato-form input,
  .contato-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--cinza);
    background-color: var(--Branco-Gelo);
    border-radius: 5px;
  }

  .contato-form button {
    padding: 10px;
    background-color: var(--Laranja);
    color: var(--Branco-Gelo);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  }

  .contato-form button:hover {
    background-color: var(--Laranja-escuro);
  }

  .contato-info {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .contato-info .info-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    color: var(--Laranja);
  }

  .contato-info .info-item img {
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }

  .contato-map {
    flex: 1;
  }

  .endereco {
    padding: 15px;
    text-align: center;
  }
}

.perguntas-frequentes {
  display: flex;
  background-color: var(--Laranja);
  justify-content: center;
  align-items: center;
  height: 80vh;

  img {
    height: 50vh;
    width: 356px;
    padding-top: 5vh;
    padding-left: 10vh;
  }

  .container-faq {
    margin-top: 10vh;
    margin-bottom: 10vh;
    /* max-width: 200vw; */
    /* max-height: 595px; */
    background-color: var(--Branco-Gelo);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }

  .faq-container {
    background-color: var(--Branco-Gelo);
    width: 100%;
    padding: 50px 10vh;
    border-radius: 10px;
  }

  .faq-header {
    text-align: center;
    font-size: var(--tamanho-fonte-maior);
    font-weight: bold;
  }

  .faq-item {
    box-shadow: 0px 0.377981px 0px #ed4231, inset 2.83px 0px 0px #ed4231;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 1s;
  }

  .faq-question:hover {
    background: var(--cinza);
  }

  .faq-answer {
    display: none;
    padding: 15px;
    font-size: var(--tamanho-fonte);
    color: var(--cinza);
  }

  .faq-question.active + .faq-answer {
    display: block;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Branco-Gelo);
  padding: 30px 0;
  margin-bottom: 40px;
}

.rodape {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: var(--Branco-Gelo);
  justify-content: center;
  flex-direction: column;
}

.rodape_conteudo {
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: start;
  padding: 50px 10px 0;
}

.logo_rodape {
  width: 130px;
}

.colunas {
  width: 50%;
  display: flex;
  justify-content: space-around;
  gap: 40px;

  p {
    font-weight: 600;
    color: var(--Laranja);
  }
}

.coluna3 a,
.coluna2 a,
.coluna1 a {
  text-decoration: none;
  color: #262626;
  font-size: 15px;
  display: flex;
  justify-content: left;
}

.coluna3 span,
.coluna2 span,
.coluna1 span {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 15px;
}

.button_rodape {
  text-align: center;
}

.rodape-contribuir {
  text-align: center;
}

.rodape-contribuir p {
  color: var(--Preto);
  font-size: 3;
  font-weight: 600;
  padding-bottom: 15px;
}

.rodape-contribuir button {
  width: 200px;
  height: 45px;
  border-radius: 25px;
  background-color: var(--Laranja);
  color: var(--Branco-Gelo);
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.rodape-contribuir button:hover {
  background-color: var(--Branco-Gelo);
  color: var(--Preto);
  border: 1px solid var(--Preto);
}

.ultima-linha-rodape {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  align-items: start;
  width: 80%;
  padding: 80px 10px 0;
}

.ultima-linha-rodape p {
  font-size: 13px;
}

.rodape-redes-sociais {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  align-items: center;
}

.rodape-redes-sociais i {
  color: var(--Laranja);
}

@media screen and (max-width: 768px) {
  header {
    background-color: var(--Branco-Gelo);
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 100%;
    position: fixed;
    height: 10vh;
    z-index: 4;
    top: 0;

    .tablet-note-nav {
      display: none;
    }

    .mobile-nav {
      width: 100%;
      display: block;
    }

    .mobile-nav-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .blurred-background {
      filter: brightness(40%);
      transition: filter 0.5s ease, opacity 0.5s ease;
      opacity: 1;
    }

    .logo {
      width: 12%;
    }

    .mobile-menu {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100vh;
      width: 300px;
      background-color: var(--Preto);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 20px;
      z-index: 5;
      overflow-y: hidden;
      transition: left 0.3s ease;
    }

    .mobile-menu.open {
      left: 0;
    }

    .mobile-menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
    }

    .mobile-menu .nav-item {
      margin: 15px 0;
      padding-left: 10px;
      text-align: left;
    }

    .mobile-menu .nav-item a {
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
      transition: color 0.3s ease;
    }

    .mobile-menu-icon button {
      background-color: transparent;
      border: none;
    }

    .mobile-menu-icon button img {
      width: 35px;
      height: 35px;
      filter: brightness(0) saturate(100%) invert(32%) sepia(89%) saturate(500%)
        hue-rotate(290deg) brightness(90%) contrast(85%);
      opacity: 0.6;
    }

    .botao-doar {
      width: 10rem;
      height: 2.5rem;
      border-radius: 20px;
      background-color: var(--Laranja);
      color: var(--Branco-Gelo);
      font-weight: bold;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: var(--Laranja-escuro);
        transition-duration: var(--trasicao-botao);
      }
    }

    .botao-login {
      width: 10rem;
      height: 2.5rem;
      border-radius: 20px;
      background-color: var(--Branco-Gelo);
      color: var(--Preto);
      font-weight: bold;
      border: 1px solid var(--Preto);
      cursor: pointer;

      &:hover {
        background-color: #e5e9f1;
        color: var(--Preto);
        transition-duration: var(--trasicao-botao);
      }
    }
  }

  body {
    padding-top: 10vh;
  }

  .home {
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding-left: 7vw;
    padding-top: 26vh;

    .home-text {
      height: 50vw;
      width: 60vw;
    }

    button {
      width: 10rem;
      padding: 8px;
    }
  }

  .quem-somos {
    display: flex;
    flex-direction: column;
    height: 85vh;

    .quem-somos-text {
      align-items: center;
      font-weight: 400;
    }

    .quem-somos-text h1 {
      text-align: center;
      width: 80vw;
    }

    .quem-somos-text p {
      width: 80vw;
      text-align: center;
      margin-bottom: 20px;
    }
    .quem-somos-container {
      position: relative;
      width: 100%;
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0px;
    }

    .images-quem-somos {
      position: relative;
      width: 280px;
      height: 280px;
    }

    .images-quem-somos img {
      position: absolute;
      border-radius: 10px;
      object-fit: cover;
    }

    .enfermeira {
      width: 189px;
      height: 189px;
      left: -50px;
      z-index: 2;
    }

    .mulher-mascara {
      width: 152px;
      height: 152px;
      top: 70px;
      left: 40px;
      z-index: 3;
    }

    .menino-cabelo {
      width: 153px;
      height: 260px;
      top: -70px;
      left: 160px;
      z-index: 2;
    }

    .logo-quem-somos {
      display: none;
    }
  }

  .onda-top {
    width: 130%;
    height: 20vh;
  }

  .contribua {
    display: flex;
    height: 90vh;
    flex-direction: column;
    padding-left: 7vw;
    padding-top: 28vh;

    .contribua-text {
      height: 50vw;
      width: 60vw;

      button {
        width: 10rem;
        padding: 8px;
      }
    }
  }

  .onda-bottom {
    top: -10vh;
    width: 160%;
    height: 25vh;
  }

  .servicos {
    padding-top: 15vh;

    .servicos-text p {
      width: 75vw;
    }

    button {
      width: 10rem;
      padding: 8px;
    }

    .icons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      width: 100%;
      padding: 20px;
      justify-items: center;
      align-items: start;
    }

    .icon-contabil,
    .icon-fisioterapia,
    .icon-juridica,
    .icon-psicologia,
    .icon-nutricao,
    .icon-quiropraxia,
    .icon-pediatria,
    .icon-financeiro {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 15px;
      margin: 0;
      background-color: var(--Branco-Gelo);
      border-radius: 8px;
    }

    .icon-contabil img,
    .icon-fisioterapia img,
    .icon-juridica img,
    .icon-psicologia img,
    .icon-nutricao img,
    .icon-quiropraxia img,
    .icon-pediatria img,
    .icon-financeiro img {
      width: 60px;
      height: 60px;
      margin-bottom: 10px;
    }

    .icon-contabil h1,
    .icon-fisioterapia h1,
    .icon-juridica h1,
    .icon-psicologia h1,
    .icon-nutricao h1,
    .icon-quiropraxia h1,
    .icon-pediatria h1,
    .icon-financeiro h1 {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 8px;
    }

    .icon-contabil p,
    .icon-fisioterapia p,
    .icon-juridica p,
    .icon-psicologia p,
    .icon-nutricao p,
    .icon-quiropraxia p,
    .icon-pediatria p,
    .icon-financeiro p {
      font-size: 0.8rem;
      color: var(--Preto);
      text-align: center;
    }
  }

  .contato {
    display: flex;
    padding: 80px 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--Branco-Gelo);

    .contato-map {
      display: none;
    }

    .contato-container {
      width: 70vw;
      align-items: center;
    }

    .contato-form p {
      padding-bottom: 15px;
    }

    .contato-form {
      width: 100vw;
      margin: 0 auto;
    }

    .contato-form input,
    .contato-form textarea {
      width: 100%;
      font-size: 0.9rem;
    }

    .contato-form button {
      width: 100%;
      font-size: 1rem;
      margin-bottom: 15px;
    }

    .contato-info{
      padding-top: 30px;
      display: flex;
      gap: 30px;
    }

    .contato-info .info-item h5{
      font-size: 1rem;
    }

    .contato-info .info-item p{
      font-size: 0.8rem;
    }

    .contato-info .info-item img {
     display: none;
    }
  }
}
