:root {
    --Branco-Gelo: #f8f9fa;
    --Preto: #262626;
    --Laranja: #ed4231;
    --Laranja-escuro: #c72c2f;
    --azulEscuro: #003366;
    --cinza: #e5e9f1;
    --tamanho-fonte: 16px;
    --tamanho-fonte-menor: 14px;
    --tamanho-fonte-maior: 20px;
    --trasicao-botao: 0.3s;
}